body{
font-family: Arial;
margin:0;
background:#f4f4f4;
text-align:center;
}

header{
background:#111;
color:white;
padding:40px;
}

section{
padding:40px;
}

.project{
background:white;
margin:20px auto;
padding:20px;
width:300px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

button{
padding:10px 20px;
border:none;
background:#333;
color:white;
cursor:pointer;
border-radius:5px;
}
